* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
}

#header {
  background-color: lavender;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

#shopping-list {
  padding: 20px;
}

#shopping-list li {
  list-style-type: none;
  margin: 15px 0px;
  border-bottom: 1px solid lightgray;
}

ul {
  overflow: auto;
  height: 70vh;
}

.delete-btn {
  float: right;
}

input {
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 30px;
}

#footer {
  background-color: lavender;
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
